<div class="intro require-webrtc hack-height1">
    <div class="shell">
         <article>
            <h1 class="tight">About Miljul</h1>
            <p>Miljul is an innovative collaboration platform offering real time video & audio communication with users worldwide. With fast, secure, high quality communication from the browser, without any installation, Miljul opens countless possibilities. Miljul is based on Web Real Time Communication (WebRTC), an open source technology that is transforming interpersonal and enterprise communication and collaboration.</p>
            <p>Designed and developed in Hyderabad – India, Miljul aims to help consumers, professionals, and businesses maximize the advantages of video-enabled communications across a wide range of day-to-day and enterprise settings (B2C and B2B).</p>
            <p>Our vision is to bring the benefits of evolving technologies to the people who need them most - especially targeting a developing economy like India, where access to technology can help improve economic outcomes to millions of people.</p>
            <p>
            The base Miljul application is available free to users. We are committed to continually enhance the Miljul experience and bring value added features for premium users and businesses. The upcoming features include integration with Gmail, Facebook, Drop Box and other social media and cloud based services, ability to create a profile and customize the Miljul experience, and ‘Record your Meeting’ functionality.</p>
            <p>We are geared to customize Miljul to serve as a powerful driver for business. From simple collaboration to faster, cheaper, better customer service; from remote training or field service to personalized advice/counsel – there’s a world of possibilities that Miljul aims to realize through our easy to deploy, cost-effective collaboration platform. </p>
        </article>
    </div>
</div>