<div class="intro require-webrtc hack-height height-auto">
    <div class="shell">
         <article>
            <h1 class="tight">Video enable your business with Miljul!</h1>
            <h3>With Miljul for business, you can</h3>
            <ul style="list-style:square;">
           <li> Delight your customers  by offering a live video chat with screen sharing and file transfer.</li>
           <li> Tap the global market from wherever you are – as people can see you and your products/services via live video.</li>
           <li> Offer new/premium services – you can embed video functionality in your business process to add value</li>
           <li>Collaborate in real time with your staff and suppliers in the office or in the field.</li>
          </ul><br/>
           
            <h3>Miljul for business offers a highly secure, low cost, HD quality and customizable video conference platform – with no software installation or infrastructure investment*.</h3>
           <p style="font-size:14px;"> *It is assumed that laptops/desktops/tablets etc. with a camera and minimum 512 Kbps internet connection are available. </p><br/>

            <h3> No interruption to your business process</h3>  Enhancement via live video.<br/><br/>
            <h3> Easy on your budget </h3> The most cost effective video calling service, with the best quality. <br/><br/>

            <h3>The scenarios for leveraging <b>Miljul for Business</b> are many. To list a few:</h3>
            <ul style="list-style:square;">
            <li> Delivering secure, personalized advice/counsel to clients by Lawyers, Doctors, Financial Advisors, Chartered Accountants, Designers</li>
            <li> Teaching or skill building, including academics, Fine Arts & Performing Arts</li>
            <li>Video interviews</li>
            <li>Selling your services/product via video calls with potential clients </li>
             <li> Providing customer care or technical support</li>
            <li> Collaborating with employees, vendors, channel partners</li>
            <li> Embedding video chat functionality in your e-commerce web site or blog.</li>
            </ul><br/>
                                     
            <h3>What Miljul offers</h3>
            <ul style="list-style:square;">
            <li> A customized solution that can be integrated into your enterprise – as your own  collaboration tool or service, with your branding</li>
            <li> A widget that adds the Miljul  video calling/conferencing application to your website or intranet </li>
            <li> A premium Miljul account for professionals/individuals with free, auto upgrades to new valued added features </li>
            </ul><br/>

            <h3>Why Miljul?</h3>
            <ul style="list-style:square;">
            <li> We are a team of experienced professionals with a combined, diverse, global industry experience of 55 years spanning IT, Quality, and Communications domains</li>
            <li>We are driven by a vision to (a) bring the advantages of WebRTC  technology to individuals, professionals, and businesses, and (b) translate the power of WebRTC into tangible business and social impact</li>
            <li>We are a technology company grown in India, focused on serving the Indian marketplace with a global mind set.</li>
            </ul><br/>

            <h3>Ready for a dialogue on how we can serve you? </h3>
            Please write to Kumar Narasimha, Chief Executive Officer, Miljul, at <a href="mailto:kumarn@miljul.in">kumarn@miljul.in</a>. <br/><br/><br/>

        </article>
    </div>
</div>