<div class="intro require-webrtc hack-height">
    <div class="shell">
        <article>
            <h1 class="tight">Contact Us</h1>
            <section class="bgc" id="contact">
                <div class="">
                    <div class="row  text-center bgc">
                        <div class="col-md-12 text-center" style="padding:5px;">
                            <h2 class="section-heading"></h2>
                        </div>
                    </div>
                    <div class="row text-center bgc" >
                        <div class="col-md-12  text-center">
                            <div name="sentMessage" id="contactForm" novalidate="">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <div class="form-group">
                                            <input type="text" class=" label-input-label" placeholder="Your Name *" id="contactUsName" required="" data-validation-required-message="Please enter your name." ng-model="name">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group ">
                                            <input type="email" class=" label-input-label" placeholder="Your Email *" id="contactUsEmail" required="" data-validation-required-message="Please enter your email address." ng-model="email">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group ">
                                            <input type="tel" class="label-input-label" placeholder="Your Phone *" id="contactUsPhone" required="" data-validation-required-message="Please enter your phone number." ng-model="phone">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <div class="form-group">
                                            <textarea class="label-input-label" rows="7" placeholder="Your Message *" id="contactUsMsg" required="" data-validation-required-message="Please enter a message." ng-model="message"></textarea>
                                            <p class="help-block text-danger"></p>
                                         </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <button class="btn btn-warning" id="sendcontact">Send Message  </button>
                                    <div class="clearfix"></div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </div>
</div>