<div class="intro require-webrtc hack-height height-auto">
                        <div class="shell">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#1" aria-expanded="true" aria-controls="1">
                                      What is Miljul and what is WebRTC?
                                    </a>
                                  </h4>
                                </div>
                                <div id="1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    Miljul is a Hindi word, typically used as ‘miljul kar rehna’ (hang out together). As we want to build collaboration solutions for personal and work life scenarios, with live video calling as the centerpiece, ‘miljul’ sounded apt.<br/> WebRTC (Web Real-Time Communication) is an API definition drafted by the World Wide Web Consortium (W3C) that supports browser-to-browser applications for voice calling, video chat, and P2P file sharing without the need of either internal or external plugins.
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#2" aria-expanded="true" aria-controls="2">
                                     What does your logo mean?
                                    </a>
                                  </h4>
                                </div>
                                <div id="2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    <div style="width:100px;"><img src="images/logo.png"/></div>                    
                                     The camera lens on top indicates video. The dots of i and j in MILJUL are connected to form a smiley, symbolizing easy, interpersonal communication.
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#3" aria-expanded="true" aria-controls="3">
                                      How do I get started?
                                    </a>
                                  </h4>
                                </div>
                                <div id="3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    &#8226; Create a room: Enter your name, email ID, and click on ‘Open Room’. Miljul will take your consent to access the camera and microphone, and create a room for you with a randomly generated meeting room link. You should be able to see yourself on the 

screen now.<br/>
                    &#8226; Invite friends: E-mail the link to the room by clicking on ‘Send mail from Miljul’ and entering

the mail ID/s of the person/s you want to talk to OR use ‘Send mail from your inbox’ to auto 

open your e-mail client. You can also use ‘Copy Link’ to copy the URL and share it with your 

friends.<br/>
                    &#8226; Start talking: Your invitees just need open the link, enter their name and click on ‘Join

Room’. You are in a Miljul now!
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#4" aria-expanded="true" aria-controls="4">
                                       I am not able to open a room.
                                    </a>
                                  </h4>
                                </div>
                                <div id="4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                     Check the browser you are using. Internet Explorer currently does not support Web RTC fully. To get the best experience of Miljul, use Google Chrome or Mozilla Firefox or Opera.
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#5" aria-expanded="true" aria-controls="5">
                                      I am not able to see the video or hear the audio.
                                    </a>
                                  </h4>
                                </div>
                                <div id="5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    To do a video chat/conference, you need a webcam, speakers and microphone in your laptop/desktop. Before clicking on ‘Open Room’, make sure that your webcam and audio devices are on. Click “Allow” to let Miljul to use your webcam and microphone
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#6" aria-expanded="true" aria-controls="6">
                                       I clicked on ‘Deny’ by mistake when Miljul first asked me for permission to share my camera and microphone. Miljul is not working for me now, and I am getting an error message. What should I do?
                                    </a>
                                  </h4>
                                </div>
                                <div id="6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    :) It happens! <br/>
                                    If you are in Chrome, go to Settings/Privacy (found in Advanced Settings)/Content Settings/Media/Manage Exceptions. You will find the list of apps/sites that you have allowed or blocked access your camera and microphone. Remove ‘miljul.in’ from that list. Refresh the browser and try miljul.in again. Click on ‘Allow’ this time!
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#7" aria-expanded="true" aria-controls="7">
                                       I am hearing an echo of my voice as I am talking
                                    </a>
                                  </h4>
                                </div>
                                <div id="7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    By default, the volume icon on your self-video would be in ‘mute’ to ensure echo cancellation. If you are hearing an echo, check and mute the volume icon on your self-video.
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#8" aria-expanded="true" aria-controls="8">
                                       I am not able to see the video clearly.
                                    </a>
                                  </h4>
                                </div>
                                <div id="8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                     The quality of the video and audio is determined by the quality of your Internet connection, your web cam and audio on your computer. For best experience, stay connected through broadband/3G, and use a modern webcam.
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#9" aria-expanded="true" aria-controls="9">
                                      The 'End Call' button is not working.
                                    </a>
                                  </h4>
                                </div>
                                <div id="9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    Let’s blame the browser :) <br/>
                                    Just refresh the page, if End Call is not working. Usually this is due to your browser settings.
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#19" aria-expanded="true" aria-controls="19">
                                      How can I schedule a video call?
                                    </a>
                                  </h4>
                                </div>
                                <div id="19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                   When you create a room, you create a permanent link to a video call. Copy the URL and paste it in your meeting invite. You can also use your default mail client’s calendar functionality when you are inviting via ‘Send mail from your inbox.’
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#18" aria-expanded="true" aria-controls="18">
                                     How do I share my screen?
                                    </a>
                                  </h4>
                                </div>
                                <div id="18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                  Keep open the document/screen you want to share. Click on ‘Share Screen’ and choose the 
screen you wish to share. Please note that currently Firefox and Opera are not supporting screen sharing. For best screen share experience, use Chrome.
                                  </div>
                                </div>
                              </div>
                              
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#11" aria-expanded="true" aria-controls="11">
                                       Are my video calls and data secure with Miljul?
                                    </a>
                                  </h4>
                                </div>
                                <div id="11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                  Miljul is powered by WebRTC, which helps establish peer to peer connections that are encrypted at the packet level, and the communication is done via Secure Socket Layer (SSL).  Miljul will only establish the connection between you and your friends, and the communication is directly between the systems or devices of the users. In other words, the communication is completely private and secure (wire-tap proof).
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#12" aria-expanded="true" aria-controls="12">
                                       Can someone enter my room uninvited?
                                    </a>
                                  </h4>
                                </div>
                                <div id="12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    Every time you create a room, Miljul creates a unique link. Only people who have received that link from you will be able to join your room. If the link is shared with someone inadvertently or on social media, whoever has the link can join your room. If you realize the link has been shared with others, simply leave the room, and create another room
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#13" aria-expanded="true" aria-controls="13">
                                      Is it possible to have a group chat/video conference?!
                                    </a>
                                  </h4>
                                </div>
                                <div id="13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                     Miljul currently allows four users to be in a room simultaneously.  We could have made it eight users, but feel that screen real estate on a typical desktop/laptop/tablet PC would at best allow four video blocks of reasonable size.<br/>For enterprises or institutions, if you need a solution that allows eight or even more people into a room, please let us know, and we will be happy to deliver a custom designed MIljul experience for your company or customers. Go to <a href="business.html">‘Miljul for Business’</a> for more info.
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#14" aria-expanded="true" aria-controls="14">
                                     How many users can be in a room at a time?
                                    </a>
                                  </h4>
                                </div>
                                <div id="14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    See above.
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#15" aria-expanded="true" aria-controls="15">
                                     In a group chat, how to make sure only one person is talking at a time? 
                                    </a>
                                  </h4>
                                </div>
                                <div id="15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    Besides ensuring that the rest are listening when someone is talking, you can mute the mic and/or video of the others in the video conference.
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#16" aria-expanded="true" aria-controls="16">
                                      I want to use it for my business or simply use it on my personal web site.
                                    </a>
                                  </h4>
                                </div>
                                <div id="16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    You have come to the right place. Miljul is focused on creating tangible business impact. Check out <a href="business.html">‘Miljul for Business’</a> for more info and <a href="contact.html">‘Contact Us’</a>. We will be happy to talk to you about your unique requirements.
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#17" aria-expanded="true" aria-controls="17">
                                      I want to join you all at MIljul for the ride. Are you hiring?
                                    </a>
                                  </h4>
                                </div>
                                <div id="17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                     Fantastic! Yes, we are hiring. You can drop us a note through <a href="contact.html">‘Contact Us’</a>, or send a private message on <a href="https://www.facebook.com/miljul.in" target="_blank">our Facebook page</a>.
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>

                    </div>