<div class="intro require-webrtc hack-height1">
    <div class="alert alert-warning" role="alert" style="float:right;width:100%;text-align:center;display:none;"></div>
        <div class="shell">
        <div class="entry">
            <h2 style="margin-bottom:2%;font-weight:600;font-style:italic;">Talk Live. Share Easy.</h2>
            <div id="browsersupport" style="display:none;">
                <span style="background-color: yellow; color: black">This browser does not support WebRTC, the technology behind Miljul. <br> Please use <a href="https://support.google.com/chrome/answer/95346?hl=en">Chrome</a>, <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>, or <a href="http://www.opera.com/computer">Opera</a> browsers.</span>
            </div>
            <div class="demo-feild-inline" id="callform">
                <div class="demo-field input-margin" id="namepresent">
                    <input type="text" class="link label-input-label" value="" placeholder="Enter your Name" id="username">
                </div>
                <div class="demo-field input-margin" id="emailpresent">
                    <input type="email" class="link label-input-label" value="" placeholder="Enter your email" id="useremail">
                </div>
                <div>
                    <button id="startcall" class="btn btn-warning btn-lg">Open Room</button>
                </div>
            </div>
            <p style="margin-bottom:10px;"> Free, fast, secure video calls with Miljul. </p> 
            <p style="margin-bottom:10px;">Just enter your name and email. Open room. Invite people. Experience Miljul!</p>
            <p style="margin-bottom:10px;">We like to hear from you. <a href="contact.html">Tell us</a> about your Miljul experience. Explore <a href="business.html">Miljul for Business</a>.</p>

            <ul class="small-screen-social-icon-wrapper" style="display:none;">
            <li class="facebook">
            <a href="https://www.facebook.com/miljul.in" target="_blank" title="Facebook"><img src="../images/facebook.png" alt="Miljul Facebook">
            </a>
            </li>
            <li class="twitter">
            <a href="https://twitter.com/miljul_in" target="_blank" title="Twitter"><img src="../images/twitter.png" alt="miljul Twitter">
            </a>
            </li>
            <li class="linkedin">
            <a href="https://www.linkedin.com/company/miljul" target="_blank" title="Linkedin"><img src="../images/linkedin.png" alt="Miljul Linkedin">
            </a>
            </li>
            </ul>
        </div>
    </div>
</div>

